body{

    background-color: lavender;
}

header{
    color: white;
    margin-top: 0px;
    display: flex;
    height: 70px;
    background-color: navy;
    position: fixed;
    z-index: 2;
    width:100%;

}

nav{
    margin-top: 0px;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
    width:100%;
}

nav a{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 20px;
}

nav a:hover{
    color: pink;
}

.banner{
    background-image: url("../pc-code.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height:45%;

}

.profilepic{
    margin-left: 41%;
    margin-top: 25%;
    background: url("../20170622_TIY-Headshots_03733.jpg") no-repeat;
    background-size: contain;
    width: 250px;
    height: 250px;
    border-style: solid;
    border-radius: 150px 150px 150px 150px;
}

h2{
    font-family: cursive, sans-serif;
    font-size: 30px;
    text-align: center;
}

p{
    font-size: 20px;
    margin: 5%;
}


.container-fluid {
    background-color: white;
    border-top: solid gray;
    border-bottom: solid gray;
    height: auto;
    margin-bottom:20px;
}

#portfolio{
    display: flex;
    margin-left: 60px;
}

ul{
    display: flex;
    justify-content: center;
    margin-left:6%;
}

li{
    list-style-type: none;
    display: inline-block;
    padding: 25px;
    margin: 20px;
    width: 250px;
    height: 250px;
    border: solid gray;
    margin-left: 20%;
    font-size: 16px;
}

 .card-container {
    height: 150px;
    perspective: 600px;
    position: relative;
    width: 150px;
}

.card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
}

.card:hover {
    transform: rotateY(180deg);
}

.card .side {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
}

.card .back {
    transform: rotateY(180deg);
}



.portfolio2{

}

.portfolio3{

}

.contact-me p{
    text-align: center;
}

form{
    display: inline-flex;
    width: 70%;
    font-size: 40px;
    height: 80%;
    margin-left: 17%;
    margin-bottom: 25px;
    align-items: center;
}

input{
    font-size: 20px;
}

footer{
    height: 60px;
    background-color: navy;
    display: flex;
    color: white;
}


footer img{
    color: white;
    height: 30px;
    width: auto;

}


i{
    color: white;
    background-color: white;
}
